In [4]:
import pandas as pd

flight_delays = pd.read_csv("delays.csv")
flight_fares_with_weather = pd.read_csv("fares_distances_weather.csv")

In [5]:
flight_delays.head()

,Departing_Port,Arriving_Port,Airline,Date,Departure_Delays_%,Arrival_Delays_%,Cancellations_%
0,Adelaide,Brisbane,Jetstar,2010-01-01,0.266667,0.233333,0.0
1,Adelaide,Gold Coast,Jetstar,2010-01-01,0.166667,0.166667,0.0
2,Adelaide,Melbourne,Jetstar,2010-01-01,0.255319,0.234043,0.0
3,Adelaide,Perth,Jetstar,2010-01-01,0.137931,0.103448,0.0
4,Adelaide,Sydney,Jetstar,2010-01-01,0.118644,0.322034,0.0

In [6]:
flight_fares_with_weather.head()

,Departing_Port,Arriving_Port,Month,Year,Average_Fare,Distance,MinTemp,MaxTemp,Rainfall,Evaporation,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,Day
0,Adelaide,Brisbane,8,2010,157.0,1619.982414,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.25107,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0
1,Adelaide,Canberra,8,2010,350.0,970.229046,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.25107,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0
2,Adelaide,Gold Coast,8,2010,232.0,1604.162840,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.25107,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0
3,Adelaide,Melbourne,8,2010,87.0,641.652927,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.25107,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0
4,Adelaide,Perth,8,2010,406.0,2115.440208,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.25107,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0

In [8]:
flight_delays["Date"] = pd.to_datetime(flight_delays["Date"])

In [10]:
flight_delays["Month"] = flight_delays["Date"].apply(lambda x: x.month)
flight_delays["Year"] = flight_delays["Date"].apply(lambda x: x.year)

In [11]:
flight_delays

,Departing_Port,Arriving_Port,Airline,Date,Departure_Delays_%,Arrival_Delays_%,Cancellations_%,Month,Year
0,Adelaide,Brisbane,Jetstar,2010-01-01,0.266667,0.233333,0.000000,1,2010
1,Adelaide,Gold Coast,Jetstar,2010-01-01,0.166667,0.166667,0.000000,1,2010
2,Adelaide,Melbourne,Jetstar,2010-01-01,0.255319,0.234043,0.000000,1,2010
3,Adelaide,Perth,Jetstar,2010-01-01,0.137931,0.103448,0.000000,1,2010
4,Adelaide,Sydney,Jetstar,2010-01-01,0.118644,0.322034,0.000000,1,2010
...,...,...,...,...,...,...,...,...,...
59377,Perth,Kalgoorlie,Virgin Australia Regional Airlines,2024-02-01,0.157895,0.210526,0.052632,2,2024
59378,Perth,Karratha,Virgin Australia Regional Airlines,2024-02-01,0.142857,0.071429,0.000000,2,2024
59379,Perth,Newman,Virgin Australia Regional Airlines,2024-02-01,0.076923,0.153846,0.000000,2,2024
59380,Perth,Port Hedland,Virgin Australia Regional Airlines,2024-02-01,0.166667,0.166667,0.083333,2,2024
59381,Port Hedland,Perth,Virgin Australia Regional Airlines,2024-02-01,0.538462,0.461538,0.153846,2,2024

In [14]:
import numpy as np
np.unique(flight_delays.Year)

array([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
       2021, 2022, 2023, 2024], dtype=int64)

In [18]:
import numpy as np
for year in list(np.unique(flight_delays.Year)):

    data = flight_delays.loc[flight_delays["Year"] == year]

    months = data["Month"]

    print(year)
    print(np.unique(months))

2010
[ 1  2  3  4  5  6  7  8  9 10 11 12]
2011
[ 1  2  3  4  5  6  7  8  9 10 11 12]
2012
[ 1  2  3  4  5  6  7  8  9 10 11 12]
2013
[ 1  2  3  4  5  6  7  8  9 10 11 12]
2014
[ 1  2  3  4  5  6  7  8  9 10 11 12]
2015
[ 1  2  3  4  5  6  7  8  9 10 11 12]
2016
[ 1  2  3  4  5  6  7  8  9 10 11 12]
2017
[ 1  2  3  4  5  6  7  8  9 10 11 12]
2018
[ 1  2  3  4  5  6  7  8  9 10 11 12]
2019
[ 1  2  3  4  5  6  7  8  9 10 11 12]
2020
[ 1  2  3  4  5  6  7  8  9 10 11 12]
2021
[ 1  2  3  4  5  6  7  8  9 10 11 12]
2022
[ 1  2  3  4  5  6  7  8  9 10 11 12]
2023
[ 1  2  3  4  5  6  7  8  9 10 11 12]
2024
[1 2]

In [22]:
combined_data = pd.merge(
    left=flight_fares_with_weather,
    right=flight_delays,
    how='outer',
    left_on=['Month', 'Year', 'Departing_Port', 'Arriving_Port'],
    right_on=['Month', 'Year', 'Departing_Port', 'Arriving_Port'],
)

In [26]:
combined_data = combined_data.dropna()

In [27]:
del combined_data["Day"]
del combined_data["Date"]

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 2895, in get_loc
    return self._engine.get_loc(casted_key)
  File "pandas\_libs\index.pyx", line 70, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\index.pyx", line 101, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\hashtable_class_helper.pxi", line 1675, in pandas._libs.hashtable.PyObjectHashTable.get_item
  File "pandas\_libs\hashtable_class_helper.pxi", line 1683, in pandas._libs.hashtable.PyObjectHashTable.get_item
KeyError: 'Day'

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3418, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-27-62f96e7098bf>", line 1, in <module>
    del combined_data["Day"]
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py", line 3711, in __delitem__
    loc = self.axes[-1].get_loc(key)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 2897, in get_loc
    raise KeyError(key) from err
KeyError: 'Day'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2045, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1170, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 316, in wrapped
    return f(*args, **kwargs)
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 350, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "C:\ProgramData\Anaconda3\lib\inspect.py", line 1503, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "C:\ProgramData\Anaconda3\lib\inspect.py", line 1461, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "C:\ProgramData\Anaconda3\lib\inspect.py", line 708, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "C:\ProgramData\Anaconda3\lib\inspect.py", line 746, in getmodule
    f = module.__file__
KeyboardInterrupt

TypeError: object of type 'NoneType' has no len()

In [28]:
combined_data

,Departing_Port,Arriving_Port,Month,Year,Average_Fare,Distance,MinTemp,MaxTemp,Rainfall,Evaporation,...,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,Airline,Departure_Delays_%,Arrival_Delays_%,Cancellations_%
0,Adelaide,Brisbane,8,2010,157.0,1619.982414,7.039858,16.730247,2.423597,3.102688,...,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,Jetstar,0.451613,0.290323,0.000000
1,Adelaide,Brisbane,8,2010,157.0,1619.982414,7.039858,16.730247,2.423597,3.102688,...,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,Qantas,0.067961,0.097087,0.000000
2,Adelaide,Brisbane,8,2010,157.0,1619.982414,7.039858,16.730247,2.423597,3.102688,...,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,Tigerair Australia,0.227273,0.227273,0.000000
3,Adelaide,Brisbane,8,2010,157.0,1619.982414,7.039858,16.730247,2.423597,3.102688,...,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,Virgin Australia,0.150538,0.086022,0.021505
4,Adelaide,Canberra,8,2010,350.0,970.229046,7.039858,16.730247,2.423597,3.102688,...,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,Qantas,0.061224,0.040816,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61430,Sunshine Coast,Melbourne,7,2010,414.0,1453.957673,6.961549,16.439830,2.435533,2.219612,...,1023.556308,1021.219584,4.746964,5.162051,10.580601,15.363305,Virgin Australia,0.416667,0.333333,0.027778
61431,Sydney,Wagga Wagga,7,2010,414.0,365.844014,6.961549,16.439830,2.435533,2.219612,...,1023.556308,1021.219584,4.746964,5.162051,10.580601,15.363305,QantasLink,0.307018,0.412281,0.017544
61432,Sydney,Wagga Wagga,7,2010,414.0,365.844014,6.961549,16.439830,2.435533,2.219612,...,1023.556308,1021.219584,4.746964,5.162051,10.580601,15.363305,Regional Express,0.165468,0.230216,0.028777
61433,Sydney,Townsville,7,2010,414.0,1691.132106,6.961549,16.439830,2.435533,2.219612,...,1023.556308,1021.219584,4.746964,5.162051,10.580601,15.363305,Jetstar,0.136364,0.045455,0.000000
61434,Sydney,Townsville,7,2010,414.0,1691.132106,6.961549,16.439830,2.435533,2.219612,...,1023.556308,1021.219584,4.746964,5.162051,10.580601,15.363305,Virgin Australia,0.354839,0.387097,0.000000

In [30]:
# Sort the data by date (earliest to latest)

combined_data = combined_data.sort_values(by=["Year", "Month"]).reset_index(drop=True)

In [31]:
combined_data

,Departing_Port,Arriving_Port,Month,Year,Average_Fare,Distance,MinTemp,MaxTemp,Rainfall,Evaporation,...,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,Airline,Departure_Delays_%,Arrival_Delays_%,Cancellations_%
0,Adelaide,Melbourne,1,2010,414.0,641.652927,17.33103,29.763540,2.198292,8.894267,...,1013.053858,1010.905502,4.167756,4.016930,22.526185,27.847663,Jetstar,0.255319,0.234043,0.000000
1,Adelaide,Melbourne,1,2010,414.0,641.652927,17.33103,29.763540,2.198292,8.894267,...,1013.053858,1010.905502,4.167756,4.016930,22.526185,27.847663,Qantas,0.087542,0.090909,0.003367
2,Adelaide,Melbourne,1,2010,414.0,641.652927,17.33103,29.763540,2.198292,8.894267,...,1013.053858,1010.905502,4.167756,4.016930,22.526185,27.847663,Tigerair Australia,0.083333,0.033333,0.050000
3,Adelaide,Melbourne,1,2010,414.0,641.652927,17.33103,29.763540,2.198292,8.894267,...,1013.053858,1010.905502,4.167756,4.016930,22.526185,27.847663,Virgin Australia,0.072874,0.068826,0.012146
4,Adelaide,Canberra,1,2010,414.0,970.229046,17.33103,29.763540,2.198292,8.894267,...,1013.053858,1010.905502,4.167756,4.016930,22.526185,27.847663,Qantas,0.111111,0.083333,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30111,Moranbah,Brisbane,6,2017,1277.0,779.683481,7.14584,18.217691,1.944638,2.741813,...,1025.984182,1023.486260,4.872945,5.115312,11.379967,16.965475,Virgin Australia,0.078431,0.058824,0.000000
30112,Armidale,Sydney,6,2017,326.0,382.268024,7.14584,18.217691,1.944638,2.741813,...,1025.984182,1023.486260,4.872945,5.115312,11.379967,16.965475,QantasLink,0.256198,0.297521,0.115702
30113,Armidale,Sydney,6,2017,326.0,382.268024,7.14584,18.217691,1.944638,2.741813,...,1025.984182,1023.486260,4.872945,5.115312,11.379967,16.965475,Regional Express,0.278481,0.329114,0.050633
30114,Tamworth,Sydney,6,2017,643.0,319.769513,7.14584,18.217691,1.944638,2.741813,...,1025.984182,1023.486260,4.872945,5.115312,11.379967,16.965475,QantasLink,0.180645,0.174194,0.051613
30115,Tamworth,Sydney,6,2017,643.0,319.769513,7.14584,18.217691,1.944638,2.741813,...,1025.984182,1023.486260,4.872945,5.115312,11.379967,16.965475,Virgin Australia,0.156863,0.156863,0.019608

In [34]:
combined_data.to_csv("flights_data.csv", index=False, header=True)