In [1]:
import pandas as pd
import numpy as np
import itertools

In [2]:
FARES_DATA = r"fares_with_distance_fixed.csv"
fares_data = pd.read_csv(FARES_DATA)

# Load weather data and add columns for day/month/year

In [3]:
WEATHER_DATA = r"C:\Users\ASUS\OneDrive\Semester 3\Innovation Project\Assign_02\weatherAUS\weatherAUS.csv"

In [4]:
weather_data = pd.read_csv(WEATHER_DATA)

In [5]:
weather_data["Date_Convert"] = pd.to_datetime(weather_data["Date"])

In [6]:
weather_data["Month"] = weather_data["Date_Convert"].map(lambda x : x.month)
weather_data["Year"] = weather_data["Date_Convert"].map(lambda x : x.year)
weather_data["Day"] = weather_data["Date_Convert"].map(lambda x : x.day)
weather_data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Date_Convert,Month,Year,Day
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,8.0,NaN,16.9,21.8,No,No,2008-12-01,12,2008,1
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,NaN,NaN,17.2,24.3,No,No,2008-12-02,12,2008,2
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,NaN,2.0,21.0,23.2,No,No,2008-12-03,12,2008,3
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,NaN,NaN,18.1,26.5,No,No,2008-12-04,12,2008,4
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,7.0,8.0,17.8,29.7,No,No,2008-12-05,12,2008,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,NaN,NaN,10.1,22.4,No,No,2017-06-21,6,2017,21
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,NaN,NaN,10.9,24.5,No,No,2017-06-22,6,2017,22
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,NaN,NaN,12.5,26.1,No,No,2017-06-23,6,2017,23
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,3.0,2.0,15.1,26.0,No,No,2017-06-24,6,2017,24
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,8.0,8.0,15.0,20.9,No,NaN,2017-06-25,6,2017,25

# Resample weather data to have a entry for each month rather than each day
To do this, we will use ``pd.resample()`` and set each month's columns to the average of all days within the month

In [7]:
resampled_weather_data = weather_data.resample(rule='M', on='Date_Convert').mean()
resampled_weather_data

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,Month,Year,Day
Date_Convert,,,,,,,,,,,,,,,,,,,
2007-11-30,11.753333,25.053333,3.180000,5.900000,7.880000,41.266667,9.166667,16.133333,69.333333,42.166667,1018.550000,1015.450000,4.400000,4.866667,16.750000,23.720000,11.0,2007.0,15.500000
2007-12-31,13.312903,25.119355,3.258065,5.819355,8.287097,40.580645,10.032258,17.451613,69.774194,49.290323,1015.051613,1012.696774,5.000000,4.903226,17.767742,23.200000,12.0,2007.0,16.000000
2008-01-31,15.348387,29.125806,1.412903,7.941935,9.119355,43.064516,9.709677,16.322581,65.870968,39.451613,1014.096774,1011.290323,4.225806,4.000000,19.716129,27.348387,1.0,2008.0,16.000000
2008-02-29,15.601724,24.662069,5.568966,5.656140,6.948276,40.896552,11.410714,17.706897,74.258621,55.327586,1013.496552,1011.412069,5.258621,5.155172,18.584483,23.206897,2.0,2008.0,15.000000
2008-03-31,14.116129,25.527419,1.506452,5.677419,8.916129,38.322581,9.213115,17.065574,73.629032,46.983871,1020.327419,1017.867742,2.854839,3.241935,17.791935,24.320968,3.0,2008.0,16.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-02-28,17.155188,29.151540,2.920089,8.468337,8.854342,42.065676,14.454279,19.322925,66.119501,46.823621,1014.245698,1011.993588,4.908451,4.501695,21.680381,27.319255,2.0,2017.0,14.500000
2017-03-31,17.014684,27.864234,4.131174,7.289583,7.572911,40.210014,13.660053,18.261676,72.179095,52.610445,1015.163503,1012.972059,5.141626,4.902299,20.798743,26.188904,3.0,2017.0,16.000000
2017-04-30,12.376552,23.430828,1.943271,5.130938,7.424011,35.494236,12.580579,16.486160,70.544045,51.511817,1021.346323,1018.634091,4.924262,4.910384,17.380221,21.921739,4.0,2017.0,15.500000
2017-05-31,9.521873,20.265805,1.497472,3.345875,6.507179,33.323904,11.218482,15.360577,76.602538,55.936924,1021.728708,1019.267695,4.871537,4.890173,14.110304,18.818316,5.0,2017.0,16.000000
2017-06-30,7.145840,18.217691,1.944638,2.741813,6.264984,31.617153,10.408532,14.594710,79.307819,57.841325,1025.984182,1023.486260,4.872945,5.115312,11.379967,16.965475,6.0,2017.0,12.990196

In [8]:
resampled_weather_data["Month"] = resampled_weather_data.index.map(lambda x: x.month)
resampled_weather_data["Year"] = resampled_weather_data.index.map(lambda x: x.year)
resampled_weather_data

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,Month,Year,Day
Date_Convert,,,,,,,,,,,,,,,,,,,
2007-11-30,11.753333,25.053333,3.180000,5.900000,7.880000,41.266667,9.166667,16.133333,69.333333,42.166667,1018.550000,1015.450000,4.400000,4.866667,16.750000,23.720000,11,2007,15.500000
2007-12-31,13.312903,25.119355,3.258065,5.819355,8.287097,40.580645,10.032258,17.451613,69.774194,49.290323,1015.051613,1012.696774,5.000000,4.903226,17.767742,23.200000,12,2007,16.000000
2008-01-31,15.348387,29.125806,1.412903,7.941935,9.119355,43.064516,9.709677,16.322581,65.870968,39.451613,1014.096774,1011.290323,4.225806,4.000000,19.716129,27.348387,1,2008,16.000000
2008-02-29,15.601724,24.662069,5.568966,5.656140,6.948276,40.896552,11.410714,17.706897,74.258621,55.327586,1013.496552,1011.412069,5.258621,5.155172,18.584483,23.206897,2,2008,15.000000
2008-03-31,14.116129,25.527419,1.506452,5.677419,8.916129,38.322581,9.213115,17.065574,73.629032,46.983871,1020.327419,1017.867742,2.854839,3.241935,17.791935,24.320968,3,2008,16.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-02-28,17.155188,29.151540,2.920089,8.468337,8.854342,42.065676,14.454279,19.322925,66.119501,46.823621,1014.245698,1011.993588,4.908451,4.501695,21.680381,27.319255,2,2017,14.500000
2017-03-31,17.014684,27.864234,4.131174,7.289583,7.572911,40.210014,13.660053,18.261676,72.179095,52.610445,1015.163503,1012.972059,5.141626,4.902299,20.798743,26.188904,3,2017,16.000000
2017-04-30,12.376552,23.430828,1.943271,5.130938,7.424011,35.494236,12.580579,16.486160,70.544045,51.511817,1021.346323,1018.634091,4.924262,4.910384,17.380221,21.921739,4,2017,15.500000
2017-05-31,9.521873,20.265805,1.497472,3.345875,6.507179,33.323904,11.218482,15.360577,76.602538,55.936924,1021.728708,1019.267695,4.871537,4.890173,14.110304,18.818316,5,2017,16.000000
2017-06-30,7.145840,18.217691,1.944638,2.741813,6.264984,31.617153,10.408532,14.594710,79.307819,57.841325,1025.984182,1023.486260,4.872945,5.115312,11.379967,16.965475,6,2017,12.990196

In [9]:
resampled_weather_data = resampled_weather_data.interpolate(method='polynomial', order=5)

In [10]:
resampled_weather_data

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,Month,Year,Day
Date_Convert,,,,,,,,,,,,,,,,,,,
2007-11-30,11.753333,25.053333,3.180000,5.900000,7.880000,41.266667,9.166667,16.133333,69.333333,42.166667,1018.550000,1015.450000,4.400000,4.866667,16.750000,23.720000,11,2007,15.500000
2007-12-31,13.312903,25.119355,3.258065,5.819355,8.287097,40.580645,10.032258,17.451613,69.774194,49.290323,1015.051613,1012.696774,5.000000,4.903226,17.767742,23.200000,12,2007,16.000000
2008-01-31,15.348387,29.125806,1.412903,7.941935,9.119355,43.064516,9.709677,16.322581,65.870968,39.451613,1014.096774,1011.290323,4.225806,4.000000,19.716129,27.348387,1,2008,16.000000
2008-02-29,15.601724,24.662069,5.568966,5.656140,6.948276,40.896552,11.410714,17.706897,74.258621,55.327586,1013.496552,1011.412069,5.258621,5.155172,18.584483,23.206897,2,2008,15.000000
2008-03-31,14.116129,25.527419,1.506452,5.677419,8.916129,38.322581,9.213115,17.065574,73.629032,46.983871,1020.327419,1017.867742,2.854839,3.241935,17.791935,24.320968,3,2008,16.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-02-28,17.155188,29.151540,2.920089,8.468337,8.854342,42.065676,14.454279,19.322925,66.119501,46.823621,1014.245698,1011.993588,4.908451,4.501695,21.680381,27.319255,2,2017,14.500000
2017-03-31,17.014684,27.864234,4.131174,7.289583,7.572911,40.210014,13.660053,18.261676,72.179095,52.610445,1015.163503,1012.972059,5.141626,4.902299,20.798743,26.188904,3,2017,16.000000
2017-04-30,12.376552,23.430828,1.943271,5.130938,7.424011,35.494236,12.580579,16.486160,70.544045,51.511817,1021.346323,1018.634091,4.924262,4.910384,17.380221,21.921739,4,2017,15.500000
2017-05-31,9.521873,20.265805,1.497472,3.345875,6.507179,33.323904,11.218482,15.360577,76.602538,55.936924,1021.728708,1019.267695,4.871537,4.890173,14.110304,18.818316,5,2017,16.000000
2017-06-30,7.145840,18.217691,1.944638,2.741813,6.264984,31.617153,10.408532,14.594710,79.307819,57.841325,1025.984182,1023.486260,4.872945,5.115312,11.379967,16.965475,6,2017,12.990196

In [11]:
fares_data

      Departing_Port Arriving_Port  Month  Year  Average_Fare     Distance
0           Adelaide      Brisbane      8  2010         157.0  1619.982414
1           Adelaide      Canberra      8  2010         350.0   970.229046
2           Adelaide    Gold Coast      8  2010         232.0  1604.162840
3           Adelaide     Melbourne      8  2010          87.0   641.652927
4           Adelaide         Perth      8  2010         406.0  2115.440208
...              ...           ...    ...   ...           ...          ...
22886         Sydney    Townsville     11  2023           NaN  1691.132106
22887         Sydney      Tamworth     12  2023           NaN   319.769513
22888         Sydney    Townsville     12  2023           NaN  1691.132106
22889         Sydney      Tamworth      1  2024           NaN   319.769513
22890         Sydney    Townsville      1  2024           NaN  1691.132106

[22891 rows x 6 columns]

In [12]:
fares_with_weather = pd.merge(
    left=fares_data,
    right=resampled_weather_data,
    how='outer',
    left_on=['Month', 'Year'],
    right_on=['Month', 'Year'],
)

In [13]:
fares_with_weather

,Departing_Port,Arriving_Port,Month,Year,Average_Fare,Distance,MinTemp,MaxTemp,Rainfall,Evaporation,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,Day
0,Adelaide,Brisbane,8,2010,157.0,1619.982414,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.251070,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0
1,Adelaide,Canberra,8,2010,350.0,970.229046,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.251070,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0
2,Adelaide,Gold Coast,8,2010,232.0,1604.162840,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.251070,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0
3,Adelaide,Melbourne,8,2010,87.0,641.652927,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.251070,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0
4,Adelaide,Perth,8,2010,406.0,2115.440208,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.251070,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22888,Sunshine Coast,Melbourne,7,2010,NaN,1453.957673,6.961549,16.439830,2.435533,2.219612,...,15.431034,81.361610,61.542918,1023.556308,1021.219584,4.746964,5.162051,10.580601,15.363305,16.0
22889,Sydney,Wagga Wagga,7,2010,NaN,365.844014,6.961549,16.439830,2.435533,2.219612,...,15.431034,81.361610,61.542918,1023.556308,1021.219584,4.746964,5.162051,10.580601,15.363305,16.0
22890,Sydney,Townsville,7,2010,NaN,1691.132106,6.961549,16.439830,2.435533,2.219612,...,15.431034,81.361610,61.542918,1023.556308,1021.219584,4.746964,5.162051,10.580601,15.363305,16.0
22891,NaN,NaN,11,2007,NaN,NaN,11.753333,25.053333,3.180000,5.900000,...,16.133333,69.333333,42.166667,1018.550000,1015.450000,4.400000,4.866667,16.750000,23.720000,15.5
22892,NaN,NaN,12,2007,NaN,NaN,13.312903,25.119355,3.258065,5.819355,...,17.451613,69.774194,49.290323,1015.051613,1012.696774,5.000000,4.903226,17.767742,23.200000,16.0

In [14]:
fares_with_weather[fares_with_weather.isna().any(axis=1)]

,Departing_Port,Arriving_Port,Month,Year,Average_Fare,Distance,MinTemp,MaxTemp,Rainfall,Evaporation,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,Day
108,Adelaide,Alice Springs,8,2010,NaN,1316.720677,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.251070,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0
109,Alice Springs,Sydney,8,2010,NaN,2020.199795,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.251070,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0
110,Ayers Rock,Sydney,8,2010,NaN,2177.635702,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.251070,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0
111,Brisbane,Hobart,8,2010,NaN,1791.172489,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.251070,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0
112,Darwin,Sydney,8,2010,NaN,3154.636592,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.251070,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22888,Sunshine Coast,Melbourne,7,2010,NaN,1453.957673,6.961549,16.439830,2.435533,2.219612,...,15.431034,81.361610,61.542918,1023.556308,1021.219584,4.746964,5.162051,10.580601,15.363305,16.0
22889,Sydney,Wagga Wagga,7,2010,NaN,365.844014,6.961549,16.439830,2.435533,2.219612,...,15.431034,81.361610,61.542918,1023.556308,1021.219584,4.746964,5.162051,10.580601,15.363305,16.0
22890,Sydney,Townsville,7,2010,NaN,1691.132106,6.961549,16.439830,2.435533,2.219612,...,15.431034,81.361610,61.542918,1023.556308,1021.219584,4.746964,5.162051,10.580601,15.363305,16.0
22891,NaN,NaN,11,2007,NaN,NaN,11.753333,25.053333,3.180000,5.900000,...,16.133333,69.333333,42.166667,1018.550000,1015.450000,4.400000,4.866667,16.750000,23.720000,15.5
22892,NaN,NaN,12,2007,NaN,NaN,13.312903,25.119355,3.258065,5.819355,...,17.451613,69.774194,49.290323,1015.051613,1012.696774,5.000000,4.903226,17.767742,23.200000,16.0

In [15]:
#fares_with_weather.to_csv("Fares_Weather.csv", index=False)

In [16]:
fares_with_weather['Average_Fare'].isna()

0        False
1        False
2        False
3        False
4        False
         ...
22888     True
22889     True
22890     True
22891     True
22892     True
Name: Average_Fare, Length: 22893, dtype: bool

In [17]:
fares_with_weather['Average_Fare'] = fares_with_weather['Average_Fare'].interpolate(method='linear')

In [18]:
fares_with_weather

,Departing_Port,Arriving_Port,Month,Year,Average_Fare,Distance,MinTemp,MaxTemp,Rainfall,Evaporation,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,Day
0,Adelaide,Brisbane,8,2010,157.0,1619.982414,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.251070,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0
1,Adelaide,Canberra,8,2010,350.0,970.229046,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.251070,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0
2,Adelaide,Gold Coast,8,2010,232.0,1604.162840,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.251070,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0
3,Adelaide,Melbourne,8,2010,87.0,641.652927,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.251070,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0
4,Adelaide,Perth,8,2010,406.0,2115.440208,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.251070,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22888,Sunshine Coast,Melbourne,7,2010,414.0,1453.957673,6.961549,16.439830,2.435533,2.219612,...,15.431034,81.361610,61.542918,1023.556308,1021.219584,4.746964,5.162051,10.580601,15.363305,16.0
22889,Sydney,Wagga Wagga,7,2010,414.0,365.844014,6.961549,16.439830,2.435533,2.219612,...,15.431034,81.361610,61.542918,1023.556308,1021.219584,4.746964,5.162051,10.580601,15.363305,16.0
22890,Sydney,Townsville,7,2010,414.0,1691.132106,6.961549,16.439830,2.435533,2.219612,...,15.431034,81.361610,61.542918,1023.556308,1021.219584,4.746964,5.162051,10.580601,15.363305,16.0
22891,NaN,NaN,11,2007,414.0,NaN,11.753333,25.053333,3.180000,5.900000,...,16.133333,69.333333,42.166667,1018.550000,1015.450000,4.400000,4.866667,16.750000,23.720000,15.5
22892,NaN,NaN,12,2007,414.0,NaN,13.312903,25.119355,3.258065,5.819355,...,17.451613,69.774194,49.290323,1015.051613,1012.696774,5.000000,4.903226,17.767742,23.200000,16.0

In [23]:
fares_with_weather.dropna()

,Departing_Port,Arriving_Port,Month,Year,Average_Fare,Distance,MinTemp,MaxTemp,Rainfall,Evaporation,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,Day
0,Adelaide,Brisbane,8,2010,157.0,1619.982414,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.25107,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0
1,Adelaide,Canberra,8,2010,350.0,970.229046,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.25107,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0
2,Adelaide,Gold Coast,8,2010,232.0,1604.162840,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.25107,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0
3,Adelaide,Melbourne,8,2010,87.0,641.652927,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.25107,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0
4,Adelaide,Perth,8,2010,406.0,2115.440208,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.25107,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22886,Port Macquarie,Sydney,7,2010,414.0,320.635253,6.961549,16.439830,2.435533,2.219612,...,15.431034,81.36161,61.542918,1023.556308,1021.219584,4.746964,5.162051,10.580601,15.363305,16.0
22887,Sunshine Coast,Sydney,7,2010,414.0,836.913212,6.961549,16.439830,2.435533,2.219612,...,15.431034,81.36161,61.542918,1023.556308,1021.219584,4.746964,5.162051,10.580601,15.363305,16.0
22888,Sunshine Coast,Melbourne,7,2010,414.0,1453.957673,6.961549,16.439830,2.435533,2.219612,...,15.431034,81.36161,61.542918,1023.556308,1021.219584,4.746964,5.162051,10.580601,15.363305,16.0
22889,Sydney,Wagga Wagga,7,2010,414.0,365.844014,6.961549,16.439830,2.435533,2.219612,...,15.431034,81.36161,61.542918,1023.556308,1021.219584,4.746964,5.162051,10.580601,15.363305,16.0
22890,Sydney,Townsville,7,2010,414.0,1691.132106,6.961549,16.439830,2.435533,2.219612,...,15.431034,81.36161,61.542918,1023.556308,1021.219584,4.746964,5.162051,10.580601,15.363305,16.0

In [26]:
fares_with_weather.to_csv("fares_distances_weather.csv", index=False)

,Departing_Port,Arriving_Port,Month,Year,Average_Fare,Distance,MinTemp,MaxTemp,Rainfall,Evaporation,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,Day
0,Adelaide,Brisbane,8,2010,157.0,1619.982414,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.251070,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0
1,Adelaide,Canberra,8,2010,350.0,970.229046,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.251070,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0
2,Adelaide,Gold Coast,8,2010,232.0,1604.162840,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.251070,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0
3,Adelaide,Melbourne,8,2010,87.0,641.652927,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.251070,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0
4,Adelaide,Perth,8,2010,406.0,2115.440208,7.039858,16.730247,2.423597,3.102688,...,19.611588,72.251070,54.674699,1017.589078,1014.939908,4.275437,4.529652,11.515598,15.568909,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22888,Sunshine Coast,Melbourne,7,2010,414.0,1453.957673,6.961549,16.439830,2.435533,2.219612,...,15.431034,81.361610,61.542918,1023.556308,1021.219584,4.746964,5.162051,10.580601,15.363305,16.0
22889,Sydney,Wagga Wagga,7,2010,414.0,365.844014,6.961549,16.439830,2.435533,2.219612,...,15.431034,81.361610,61.542918,1023.556308,1021.219584,4.746964,5.162051,10.580601,15.363305,16.0
22890,Sydney,Townsville,7,2010,414.0,1691.132106,6.961549,16.439830,2.435533,2.219612,...,15.431034,81.361610,61.542918,1023.556308,1021.219584,4.746964,5.162051,10.580601,15.363305,16.0
22891,NaN,NaN,11,2007,414.0,NaN,11.753333,25.053333,3.180000,5.900000,...,16.133333,69.333333,42.166667,1018.550000,1015.450000,4.400000,4.866667,16.750000,23.720000,15.5
22892,NaN,NaN,12,2007,414.0,NaN,13.312903,25.119355,3.258065,5.819355,...,17.451613,69.774194,49.290323,1015.051613,1012.696774,5.000000,4.903226,17.767742,23.200000,16.0