In [1]:
import pandas as pd
import numpy as np
import itertools

In [2]:
AIRPORT_DISTANCE = r"C:\Users\ASUS\OneDrive\Semester 3\Innovation Project\Assign_02\Airport_Distance.csv"

In [3]:
airport_distance = pd.read_csv(AIRPORT_DISTANCE)

In [4]:
airport_distance

      Departing_Port  Arriving_Port  Distance_GC_(km)  Year  Month_Num
0           ADELAIDE  ALICE SPRINGS              1316  2008          1
1           ADELAIDE       BRISBANE              1622  2008          1
2           ADELAIDE       CANBERRA               972  2008          1
3           ADELAIDE     GOLD COAST              1607  2008          1
4           ADELAIDE      MELBOURNE               643  2008          1
...              ...            ...               ...   ...        ...
13126         SYDNEY    WAGGA WAGGA               367  2023          9
13127         SYDNEY    WAGGA WAGGA               367  2023         10
13128         SYDNEY    WAGGA WAGGA               367  2023         11
13129         SYDNEY    WAGGA WAGGA               367  2023         12
13130         SYDNEY    WAGGA WAGGA               367  2024          1

[13131 rows x 5 columns]

In [5]:
airport_distance.dropna()

      Departing_Port  Arriving_Port  Distance_GC_(km)  Year  Month_Num
0           ADELAIDE  ALICE SPRINGS              1316  2008          1
1           ADELAIDE       BRISBANE              1622  2008          1
2           ADELAIDE       CANBERRA               972  2008          1
3           ADELAIDE     GOLD COAST              1607  2008          1
4           ADELAIDE      MELBOURNE               643  2008          1
...              ...            ...               ...   ...        ...
13126         SYDNEY    WAGGA WAGGA               367  2023          9
13127         SYDNEY    WAGGA WAGGA               367  2023         10
13128         SYDNEY    WAGGA WAGGA               367  2023         11
13129         SYDNEY    WAGGA WAGGA               367  2023         12
13130         SYDNEY    WAGGA WAGGA               367  2024          1

[13131 rows x 5 columns]

In [6]:
airport_distance.drop_duplicates()

      Departing_Port  Arriving_Port  Distance_GC_(km)  Year  Month_Num
0           ADELAIDE  ALICE SPRINGS              1316  2008          1
1           ADELAIDE       BRISBANE              1622  2008          1
2           ADELAIDE       CANBERRA               972  2008          1
3           ADELAIDE     GOLD COAST              1607  2008          1
4           ADELAIDE      MELBOURNE               643  2008          1
...              ...            ...               ...   ...        ...
13126         SYDNEY    WAGGA WAGGA               367  2023          9
13127         SYDNEY    WAGGA WAGGA               367  2023         10
13128         SYDNEY    WAGGA WAGGA               367  2023         11
13129         SYDNEY    WAGGA WAGGA               367  2023         12
13130         SYDNEY    WAGGA WAGGA               367  2024          1

[13131 rows x 5 columns]

In [7]:
unique_departure_port = len(airport_distance['Departing_Port'].unique().tolist())

In [8]:
unique_departure_port

30

In [9]:
unique_arrival_port = len(airport_distance['Arriving_Port'].unique().tolist())

In [10]:
unique_arrival_port

29

In [11]:
port_combination = airport_distance.groupby(['Departing_Port', 'Arriving_Port', 'Distance_GC_(km)', 'Year', 'Month_Num'])

In [12]:
def get_individual_port_combination (departing_port_name):
    selected_departing_port = airport_distance[airport_distance['Departing_Port'] == departing_port_name]

    port_combinations_grouped = selected_departing_port.groupby(['Year', 'Month_Num', 'Distance_GC_(km)', 'Arriving_Port']).size().reset_index(name='count')

    port_combinations_grouped['departure_port'] = departing_port_name

    return port_combinations_grouped

In [13]:
results = []
unique_departure_port = airport_distance['Departing_Port'].unique()

for departing_port_name in unique_departure_port:
    port_data = get_individual_port_combination(departing_port_name)

    results.append(port_data)

all_combinations = pd.concat(results, ignore_index=True)

In [14]:
all_combinations

       Year  Month_Num  Distance_GC_(km)  Arriving_Port  count departure_port
0      2008          1               246   PORT LINCOLN      1       ADELAIDE
1      2008          1               643      MELBOURNE      1       ADELAIDE
2      2008          1               972       CANBERRA      1       ADELAIDE
3      2008          1              1167         SYDNEY      1       ADELAIDE
4      2008          1              1316  ALICE SPRINGS      1       ADELAIDE
...     ...        ...               ...            ...    ...            ...
13126  2023         12               367    WAGGA WAGGA      1         SYDNEY
13127  2023         12              1690     TOWNSVILLE      1         SYDNEY
13128  2024          1               320       TAMWORTH      1         SYDNEY
13129  2024          1               367    WAGGA WAGGA      1         SYDNEY
13130  2024          1              1690     TOWNSVILLE      1         SYDNEY

[13131 rows x 6 columns]

In [15]:
all_combinations.rename(columns={'Month_Num': 'Month'}, inplace=True)
all_combinations.rename(columns={'departure_port': 'Departing_Port'}, inplace=True)

In [22]:
all_combinations

       Year  Month  Distance_GC_(km)  Arriving_Port Departing_Port
0      2008      1               246   Port Lincoln       Adelaide
1      2008      1               643      Melbourne       Adelaide
2      2008      1               972       Canberra       Adelaide
3      2008      1              1167         Sydney       Adelaide
4      2008      1              1316  Alice Springs       Adelaide
...     ...    ...               ...            ...            ...
13126  2023     12               367    Wagga Wagga         Sydney
13127  2023     12              1690     Townsville         Sydney
13128  2024      1               320       Tamworth         Sydney
13129  2024      1               367    Wagga Wagga         Sydney
13130  2024      1              1690     Townsville         Sydney

[13131 rows x 5 columns]

In [23]:
all_combinations = all_combinations[["Year", "Month", "Distance_GC_(km)", "Arriving_Port", "Departing_Port"]]

all_combinations["Arriving_Port"] = all_combinations["Arriving_Port"].str.title()
all_combinations["Departing_Port"] = all_combinations["Departing_Port"].str.title()

In [24]:
all_combinations

       Year  Month  Distance_GC_(km)  Arriving_Port Departing_Port
0      2008      1               246   Port Lincoln       Adelaide
1      2008      1               643      Melbourne       Adelaide
2      2008      1               972       Canberra       Adelaide
3      2008      1              1167         Sydney       Adelaide
4      2008      1              1316  Alice Springs       Adelaide
...     ...    ...               ...            ...            ...
13126  2023     12               367    Wagga Wagga         Sydney
13127  2023     12              1690     Townsville         Sydney
13128  2024      1               320       Tamworth         Sydney
13129  2024      1               367    Wagga Wagga         Sydney
13130  2024      1              1690     Townsville         Sydney

[13131 rows x 5 columns]

In [31]:
missing_distance = all_combinations[all_combinations['Distance_GC_(km)'].isnull()]

In [32]:
missing_distance

Empty DataFrame
Columns: [Year, Month, Distance_GC_(km), Arriving_Port, Departing_Port]
Index: []

In [33]:
all_combinations.to_csv('fares_with_distance.csv', index=False, header=True)