In [1]:
import pandas as pd
import numpy as np
import itertools

In [2]:
PORT_FARES = r"C:\Users\ASUS\OneDrive\Semester 3\Innovation Project\Assign_02\fares.csv"
PORT_TIME_SERIES = r"C:\Users\ASUS\OneDrive\Semester 3\Innovation Project\Assign_02\time_series.csv"

In [3]:
port_fares = pd.read_csv(PORT_FARES)
port_time_series = pd.read_csv(PORT_TIME_SERIES)

In [4]:
port_fares.head()

  departure_port   arrival_port  real_fare_(AUD)     Date
0       Adelaide  Alice Springs              661  2024-01
1       Adelaide       Brisbane              323  2024-01
2       Adelaide       Canberra              543  2024-01
3       Adelaide         Darwin              607  2024-01
4       Adelaide     Gold Coast              256  2024-01

In [5]:
port_fares

       departure_port   arrival_port  real_fare_(AUD)     Date
0            Adelaide  Alice Springs              661  2024-01
1            Adelaide       Brisbane              323  2024-01
2            Adelaide       Canberra              543  2024-01
3            Adelaide         Darwin              607  2024-01
4            Adelaide     Gold Coast              256  2024-01
...               ...            ...              ...      ...
11211  Port Macquarie         Sydney              223  2010-08
11212          Sydney       Tamworth              288  2010-08
11213          Sydney     Townsville              386  2010-08
11214          Sydney    Wagga Wagga              305  2010-08
11215       Newcastle     Gold Coast              195  2010-08

[11216 rows x 4 columns]

In [6]:
# Source: https://stackoverflow.com/a/41815118

port_fares = pd.merge(
    left=port_time_series,
    right=port_fares,
    how='left',
    left_on=['departure_port', 'arrival_port', 'Date'],
    right_on=['departure_port', 'arrival_port', 'Date'],
)

In [7]:
port_fares['Date'] = pd.to_datetime(port_fares['Date'])
port_fares['Year'] = port_fares['Date'].dt.year
port_fares['Month'] = port_fares['Date'].dt.month

In [8]:
port_fares

,departure_port,arrival_port,Departure Delay,Arrival Delay,Date,real_fare_(AUD),Year,Month
0,Adelaide,Brisbane,16.194332,12.955466,2010-08-01,157.0,2010,8
1,Adelaide,Canberra,12.500000,7.500000,2010-08-01,350.0,2010,8
2,Adelaide,Gold Coast,7.142857,4.761905,2010-08-01,232.0,2010,8
3,Adelaide,Melbourne,13.125846,15.426252,2010-08-01,87.0,2010,8
4,Adelaide,Perth,9.134615,12.019231,2010-08-01,406.0,2010,8
...,...,...,...,...,...,...,...,...
76448,Sydney,Sunshine Coast,22.330097,23.300971,2024-02-01,NaN,2024,2
76449,Sydney,Wagga Wagga,27.810651,30.177515,2024-02-01,NaN,2024,2
76450,Townsville,Brisbane,26.804124,29.896907,2024-02-01,NaN,2024,2
76451,Townsville,Cairns,11.510791,12.949640,2024-02-01,NaN,2024,2
76452,Wagga Wagga,Sydney,22.155689,23.952096,2024-02-01,NaN,2024,2

In [9]:
port_combinations = port_fares.groupby(['Year', 'Month', 'departure_port', 'arrival_port', 'Arrival Delay', 'Departure Delay'])['real_fare_(AUD)'].mean().reset_index(name='Average_Fare')

In [10]:
port_combinations

,Year,Month,departure_port,arrival_port,Arrival Delay,Departure Delay,Average_Fare
0,2010,8,Adelaide,Brisbane,8.791209,15.384615,157.0
1,2010,8,Adelaide,Brisbane,9.708738,6.796117,157.0
2,2010,8,Adelaide,Brisbane,12.955466,16.194332,157.0
3,2010,8,Adelaide,Brisbane,22.727273,22.727273,157.0
4,2010,8,Adelaide,Brisbane,29.032258,45.161290,157.0
...,...,...,...,...,...,...,...
76358,2024,2,Townsville,Cairns,12.949640,11.510791,NaN
76359,2024,2,Townsville,Cairns,45.454545,45.454545,NaN
76360,2024,2,Wagga Wagga,Sydney,22.580645,23.655914,NaN
76361,2024,2,Wagga Wagga,Sydney,23.952096,22.155689,NaN
76362,2024,2,Wagga Wagga,Sydney,25.675676,20.270270,NaN

In [11]:
unique_departure_port = port_fares['departure_port'].unique().tolist()

In [12]:
unique_departure_port

['Adelaide',
 'Albury',
 'Alice Springs',
 'Ballina',
 'Brisbane',
 'Broome',
 'Cairns',
 'Canberra',
 'Coffs Harbour',
 'Darwin',
 'Dubbo',
 'Gold Coast',
 'Hamilton Island',
 'Hobart',
 'Kalgoorlie',
 'Karratha',
 'Launceston',
 'Mackay',
 'Melbourne',
 'Mildura',
 'Newcastle',
 'Newman',
 'Perth',
 'Port Hedland',
 'Port Lincoln',
 'Port Macquarie',
 'Proserpine',
 'Rockhampton',
 'Sunshine Coast',
 'Sydney',
 'Townsville',
 'Wagga Wagga',
 'Ayers Rock',
 'Gladstone',
 'Geraldton',
 'Emerald',
 'Mount Isa',
 'Bundaberg',
 'Moranbah',
 'Armidale',
 'Tamworth',
 'Devonport']

In [13]:
unique_departure_port_count = len(unique_departure_port)
unique_departure_port_count

42

In [14]:
unique_arrival_port = port_fares['arrival_port'].unique().tolist()
unique_arrival_port

['Brisbane',
 'Canberra',
 'Gold Coast',
 'Melbourne',
 'Perth',
 'Port Lincoln',
 'Sydney',
 'Adelaide',
 'Cairns',
 'Darwin',
 'Hamilton Island',
 'Mackay',
 'Newcastle',
 'Proserpine',
 'Rockhampton',
 'Townsville',
 'Alice Springs',
 'Hobart',
 'Launceston',
 'Mildura',
 'Sunshine Coast',
 'Broome',
 'Kalgoorlie',
 'Karratha',
 'Newman',
 'Port Hedland',
 'Albury',
 'Ballina',
 'Coffs Harbour',
 'Dubbo',
 'Port Macquarie',
 'Wagga Wagga',
 'Ayers Rock',
 'Gladstone',
 'Geraldton',
 'Emerald',
 'Mount Isa',
 'Bundaberg',
 'Moranbah',
 'Armidale',
 'Tamworth',
 'Devonport']

In [15]:
unique_arrival_port_count = len(unique_arrival_port)
unique_arrival_port_count

42

In [16]:
adelaide_flights = port_combinations[port_combinations['departure_port'] == 'Adelaide']
adelaide_flights

,Year,Month,departure_port,arrival_port,Arrival Delay,Departure Delay,Average_Fare
0,2010,8,Adelaide,Brisbane,8.791209,15.384615,157.0
1,2010,8,Adelaide,Brisbane,9.708738,6.796117,157.0
2,2010,8,Adelaide,Brisbane,12.955466,16.194332,157.0
3,2010,8,Adelaide,Brisbane,22.727273,22.727273,157.0
4,2010,8,Adelaide,Brisbane,29.032258,45.161290,157.0
...,...,...,...,...,...,...,...
75899,2024,2,Adelaide,Sydney,23.041475,24.884793,NaN
75900,2024,2,Adelaide,Sydney,24.822695,26.241135,NaN
75901,2024,2,Adelaide,Sydney,25.152130,26.774848,NaN
75902,2024,2,Adelaide,Sydney,26.415094,25.471698,NaN
75903,2024,2,Adelaide,Sydney,37.931034,48.275862,NaN

In [17]:
def get_individual_port_combinations(departure_port_name):
    selected_departure_data = port_combinations[port_combinations['departure_port'] == departure_port_name]

    #TODO: Refactor this to get average fare, arrival delay, and departure delay

    port_combinations_grouped = selected_departure_data.groupby(['Year', 'Month', 'arrival_port']).agg({'Average_Fare': 'mean'}).reset_index()

    #port_combinations_grouped = selected_departure_data.groupby(['Year', 'Month', 'Arrival Delay']).agg({'Average_Arrival_Delay': 'mean'}).reset_index()

    #port_combinations_grouped = selected_departure_data.groupby(['Year', 'Month', 'Departure Delay']).agg({'Average_Departure_Delay': 'mean'}).reset_index()


    port_combinations_grouped['departure_port'] = departure_port_name

    return port_combinations_grouped

In [18]:
starting_point = port_fares.drop_duplicates(subset=["departure_port"])
unique_departure_ports = starting_point['departure_port'].unique()

results = []

for departure_port_name in unique_departure_ports:
    port_data = get_individual_port_combinations(departure_port_name)

    results.append(port_data)

all_combinations = pd.concat(results, ignore_index=True)

In [19]:
all_combinations

       Year  Month arrival_port  Average_Fare departure_port
0      2010      8     Brisbane         157.0       Adelaide
1      2010      8     Canberra         350.0       Adelaide
2      2010      8   Gold Coast         232.0       Adelaide
3      2010      8    Melbourne          87.0       Adelaide
4      2010      8        Perth         406.0       Adelaide
...     ...    ...          ...           ...            ...
19395  2023     10    Melbourne         438.0      Devonport
19396  2023     11    Melbourne           NaN      Devonport
19397  2023     12    Melbourne         480.0      Devonport
19398  2024      1    Melbourne         414.0      Devonport
19399  2024      2    Melbourne           NaN      Devonport

[19400 rows x 5 columns]

In [20]:
# port_data.to_csv(f'individual_data/departure_port_{departure_port_name}.csv', index=False)

all_combinations.rename(columns={'arrival_port': 'Arriving_Port'}, inplace=True)
all_combinations.rename(columns={'departure_port': 'Departing_Port'}, inplace=True)

In [21]:
all_combinations["Average_Fare"].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
19395    False
19396     True
19397    False
19398    False
19399     True
Name: Average_Fare, Length: 19400, dtype: bool

In [22]:
#all_combinations.to_csv(f'fares_reading.csv', index=False, header=True)

In [23]:
null_indices = all_combinations['Average_Fare'].isnull()

In [24]:
missing_fares = all_combinations[null_indices]

In [25]:
missing_fares

       Year  Month  Arriving_Port  Average_Fare Departing_Port
406    2015      6  Alice Springs           NaN       Adelaide
414    2015      7  Alice Springs           NaN       Adelaide
422    2015      8  Alice Springs           NaN       Adelaide
430    2015      9  Alice Springs           NaN       Adelaide
438    2015     10  Alice Springs           NaN       Adelaide
...     ...    ...            ...           ...            ...
19387  2020      1         Sydney           NaN       Tamworth
19388  2020      2         Sydney           NaN       Tamworth
19389  2020      3         Sydney           NaN       Tamworth
19396  2023     11      Melbourne           NaN      Devonport
19399  2024      2      Melbourne           NaN      Devonport

[10006 rows x 5 columns]

In [26]:
all_combinations_copy = all_combinations.copy()

In [27]:
# Used Interpolation to fill the missing values.

all_combinations['Average_Fare'] = all_combinations['Average_Fare'].interpolate(method='polynomial', order=2)

In [28]:
all_combinations['Average_Fare'].isnull().sum()

1

In [29]:
missing_fares = all_combinations[null_indices]

In [30]:
missing_fares

       Year  Month  Arriving_Port  Average_Fare Departing_Port
406    2015      6  Alice Springs     98.282887       Adelaide
414    2015      7  Alice Springs     93.791890       Adelaide
422    2015      8  Alice Springs    118.627676       Adelaide
430    2015      9  Alice Springs    196.775952       Adelaide
438    2015     10  Alice Springs    154.701416       Adelaide
...     ...    ...            ...           ...            ...
19387  2020      1         Sydney    472.662758       Tamworth
19388  2020      2         Sydney    468.014962       Tamworth
19389  2020      3         Sydney    463.460709       Tamworth
19396  2023     11      Melbourne    470.242523      Devonport
19399  2024      2      Melbourne           NaN      Devonport

[10006 rows x 5 columns]

In [35]:
all_combinations['Average_Fare'] = all_combinations['Average_Fare'].fillna(method="ffill")

In [32]:
all_combinations['Average_Fare'] = all_combinations['Average_Fare'].astype('int')

In [33]:
all_combinations['Average_Fare'] = all_combinations['Average_Fare'].abs()

In [34]:
#all_combinations.to_csv('fares_reading.csv', index=False, header=True)