In [41]:
import pandas as pd
import numpy as np

In [42]:
MAX_TEMP = r"C:\Users\ASUS\OneDrive\Semester 3\Innovation Project\Assign_02\Temperature Data\Albury\IDCJAC0002_072160\albury_max_temp.csv"
MIN_TEMP = r"C:\Users\ASUS\OneDrive\Semester 3\Innovation Project\Assign_02\Temperature Data\Albury\IDCJAC0004_072160\albury_min_temp.csv"

In [43]:
max_temp = pd.read_csv(MAX_TEMP)
min_temp = pd.read_csv(MIN_TEMP)

In [44]:
max_temp.drop_duplicates()

,Product code,Station Number,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual
0,IDCJAC0002,72160,1993,NaN,NaN,NaN,NaN,16.9,12.4,13.1,14.7,17.0,18.6,23.2,26.1,NaN
1,IDCJAC0002,72160,1994,28.3,29.1,24.0,22.4,18.9,13.5,13.6,14.8,16.6,23.2,25.5,32.7,21.9
2,IDCJAC0002,72160,1995,30.3,29.7,26.8,20.2,16.9,13.8,10.9,16.3,17.1,20.9,23.1,26.4,21.0
3,IDCJAC0002,72160,1996,29.2,27.4,26.5,19.6,17.9,14.5,12.0,14.0,16.9,21.2,22.6,27.7,20.8
4,IDCJAC0002,72160,1997,31.9,34.7,26.9,23.6,17.6,14.2,13.3,13.8,18.0,22.4,27.7,31.7,23.0
5,IDCJAC0002,72160,1998,32.9,32.7,30.0,22.1,17.3,14.1,12.2,15.7,17.8,19.9,23.8,30.8,22.4
6,IDCJAC0002,72160,1999,34.7,31.4,26.5,21.3,18.0,14.4,14.6,15.8,19.6,22.0,23.7,27.4,22.4
7,IDCJAC0002,72160,2000,28.0,32.9,27.5,22.0,15.4,12.7,13.0,14.3,17.4,19.5,26.4,30.1,21.6
8,IDCJAC0002,72160,2001,34.0,31.8,26.5,22.8,17.7,14.7,14.1,15.0,19.3,19.0,24.2,27.1,22.2
9,IDCJAC0002,72160,2002,30.8,28.3,28.5,24.2,18.5,14.6,13.5,15.7,18.8,22.8,29.7,31.6,23.1
10,IDCJAC0002,72160,2003,33.5,32.9,27.8,22.9,18.8,13.3,13.4,13.7,16.0,17.8,25.5,30.0,22.1
11,IDCJAC0002,72160,2004,30.1,33.7,29.3,23.4,16.2,13.2,12.2,14.5,16.7,22.2,25.5,28.2,22.1
12,IDCJAC0002,72160,2005,31.0,27.0,26.3,25.8,19.4,15.9,13.3,15.2,17.5,20.6,25.1,29.0,22.2
13,IDCJAC0002,72160,2006,35.2,32.6,30.4,19.8,16.9,14.0,13.9,16.0,20.3,25.5,28.9,30.9,23.7
14,IDCJAC0002,72160,2007,33.0,33.8,28.8,24.9,19.1,13.7,12.3,16.7,18.2,23.9,28.3,29.2,23.5
15,IDCJAC0002,72160,2008,33.2,27.3,29.2,21.7,17.5,16.1,13.1,13.9,19.3,24.5,25.5,27.3,22.4
16,IDCJAC0002,72160,2009,34.7,33.4,28.3,21.8,18.3,13.8,13.1,15.1,18.2,21.3,30.5,31.0,23.3
17,IDCJAC0002,72160,2010,34.4,31.1,27.4,22.5,18.1,13.7,13.4,13.2,16.6,20.8,24.9,27.1,21.9
18,IDCJAC0002,72160,2011,31.3,28.2,25.2,21.0,16.3,14.5,13.0,16.3,18.7,21.8,26.7,27.7,21.7
19,IDCJAC0002,72160,2012,31.6,29.2,24.7,22.4,16.4,13.8,13.7,14.3,18.3,21.5,27.3,29.8,21.9
20,IDCJAC0002,72160,2013,34.9,32.7,28.7,23.0,17.2,14.6,14.4,15.0,19.6,21.6,26.3,30.8,23.2
21,IDCJAC0002,72160,2014,34.0,33.2,28.4,22.0,17.8,14.2,13.3,15.8,19.1,24.6,28.5,30.0,23.4
22,IDCJAC0002,72160,2015,30.3,32.3,27.7,22.0,17.0,13.3,12.5,13.8,18.7,27.0,28.0,31.4,22.8
23,IDCJAC0002,72160,2016,31.5,32.4,30.8,25.8,18.1,13.4,13.3,15.2,16.8,19.7,25.6,30.5,22.8
24,IDCJAC0002,72160,2017,33.7,31.4,30.2,22.1,17.3,14.2,13.1,14.1,17.5,23.1,27.7,30.0,22.9
25,IDCJAC0002,72160,2018,34.3,32.1,29.6,26.8,18.5,14.5,13.6,14.1,18.6,24.9,26.4,32.6,23.8
26,IDCJAC0002,72160,2019,37.4,31.8,28.7,24.7,17.0,14.1,13.6,14.1,18.0,24.3,26.8,32.8,23.6
27,IDCJAC0002,72160,2020,33.1,31.0,26.2,20.3,16.3,13.6,13.9,14.4,18.9,22.5,29.2,29.0,22.4
28,IDCJAC0002,72160,2021,31.5,28.7,25.7,22.4,18.2,13.7,12.7,15.6,18.2,20.5,23.1,29.0,21.6
29,IDCJAC0002,72160,2022,30.7,29.1,27.6,22.5,17.7,13.0,13.9,15.4,17.4,20.7,22.1,27.4,21.5
30,IDCJAC0002,72160,2023,31.0,29.6,27.6,21.6,15.8,14.1,14.5,16.6,21.4,21.5,27.2,29.9,22.6
31,IDCJAC0002,72160,2024,31.5,33.4,31.2,22.8,19.9,14.8,13.7,17.1,NaN,NaN,NaN,NaN,NaN

In [45]:
min_temp.drop_duplicates()

,Product code,Station Number,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual
0,IDCJAC0004,72160,1993,NaN,NaN,NaN,NaN,4.0,3.3,3.2,2.9,5.2,6.3,9.4,12.4,NaN
1,IDCJAC0004,72160,1994,12.3,15.5,9.5,6.4,6.0,4.1,1.2,1.1,2.9,7.0,10.8,15.1,7.7
2,IDCJAC0004,72160,1995,16.7,14.8,10.5,6.3,7.5,4.1,4.3,3.5,5.3,8.5,11.4,11.4,8.7
3,IDCJAC0004,72160,1996,15.2,12.4,12.0,6.4,5.5,4.1,4.9,5.5,5.5,8.2,9.5,11.8,8.4
4,IDCJAC0004,72160,1997,15.7,18.6,11.7,6.5,6.7,2.8,0.3,2.5,5.9,7.1,11.4,13.9,8.6
5,IDCJAC0004,72160,1998,17.6,14.6,12.1,9.1,6.2,3.9,3.1,5.3,7.2,7.7,9.8,14.0,9.2
6,IDCJAC0004,72160,1999,19.3,16.0,14.0,5.7,5.6,3.6,2.9,3.5,6.9,9.9,9.2,13.2,9.1
7,IDCJAC0004,72160,2000,14.1,17.4,15.4,9.0,5.8,3.4,3.5,4.2,7.4,8.5,14.5,13.6,9.7
8,IDCJAC0004,72160,2001,18.6,17.5,12.5,7.8,4.4,4.3,3.1,4.0,7.3,8.0,10.1,12.0,9.1
9,IDCJAC0004,72160,2002,14.8,15.4,12.2,10.4,5.2,3.9,2.5,2.2,5.8,7.4,12.3,14.9,8.9
10,IDCJAC0004,72160,2003,16.5,18.0,12.3,9.9,6.3,5.7,3.5,3.9,5.0,6.6,10.6,15.3,9.5
11,IDCJAC0004,72160,2004,14.0,16.5,11.4,8.5,4.1,4.6,3.1,4.4,5.9,7.6,11.1,13.5,8.7
12,IDCJAC0004,72160,2005,15.2,13.5,11.1,9.3,4.0,4.8,4.5,3.7,6.2,9.2,12.6,13.1,8.9
13,IDCJAC0004,72160,2006,19.0,15.8,13.2,6.4,3.8,0.1,3.4,1.8,4.6,7.0,11.6,14.1,8.4
14,IDCJAC0004,72160,2007,16.8,18.7,14.6,9.3,8.7,2.9,2.3,4.4,4.5,8.4,14.3,15.7,10.1
15,IDCJAC0004,72160,2008,18.5,15.0,12.8,6.3,5.2,5.3,2.6,2.7,5.0,8.1,11.9,13.5,8.9
16,IDCJAC0004,72160,2009,16.3,17.5,12.7,9.1,5.1,4.6,3.3,4.8,5.6,7.9,15.1,14.3,9.7
17,IDCJAC0004,72160,2010,17.1,18.8,13.8,10.2,5.1,3.2,2.3,3.4,5.5,9.2,13.6,14.5,9.7
18,IDCJAC0004,72160,2011,18.0,17.0,13.5,7.8,3.9,2.8,3.1,4.0,5.0,8.6,13.5,13.9,9.3
19,IDCJAC0004,72160,2012,16.1,15.2,12.8,9.0,3.8,2.2,2.9,2.8,5.0,6.5,12.2,13.9,8.5
20,IDCJAC0004,72160,2013,16.4,17.1,13.5,8.9,4.4,3.0,5.2,5.7,7.6,6.9,9.9,14.7,9.4
21,IDCJAC0004,72160,2014,16.9,16.7,14.1,10.7,7.5,5.7,3.8,1.9,5.3,8.6,12.2,14.8,9.8
22,IDCJAC0004,72160,2015,16.6,17.7,11.9,10.0,5.8,2.4,2.8,3.6,4.7,11.0,13.2,15.6,9.6
23,IDCJAC0004,72160,2016,17.4,16.2,15.8,9.4,8.1,5.6,5.8,4.0,7.6,7.6,10.8,14.9,10.3
24,IDCJAC0004,72160,2017,16.9,15.1,15.9,9.0,5.5,1.2,2.3,3.0,4.9,9.1,12.8,15.4,9.3
25,IDCJAC0004,72160,2018,17.9,15.5,13.1,9.4,4.8,3.2,1.9,3.0,3.9,8.4,12.0,16.7,9.2
26,IDCJAC0004,72160,2019,20.7,15.5,14.3,9.5,6.2,2.1,3.9,2.2,4.5,7.7,10.5,15.4,9.4
27,IDCJAC0004,72160,2020,17.1,17.3,13.3,9.3,4.2,3.8,2.8,3.7,6.5,10.4,13.3,12.9,9.6
28,IDCJAC0004,72160,2021,16.1,15.3,12.4,7.0,5.3,4.1,4.0,4.1,6.0,7.9,11.8,14.0,9.0
29,IDCJAC0004,72160,2022,18.3,15.6,15.2,11.3,6.8,4.7,1.2,5.7,6.7,10.4,10.7,12.8,9.9
30,IDCJAC0004,72160,2023,16.6,14.8,14.0,8.7,4.8,5.2,3.9,4.2,5.5,7.4,12.8,15.9,9.5
31,IDCJAC0004,72160,2024,17.3,16.9,14.2,8.1,4.6,3.0,2.5,5.4,NaN,NaN,NaN,NaN,NaN

In [46]:
max_temp = max_temp.drop(columns=['Product code'])

In [47]:
max_temp = pd.melt(max_temp, id_vars=['Station Number', 'Year'],
                         var_name='Month', value_name='MaxTemp')

In [49]:
max_temp = max_temp[max_temp['Year'] >= 2017]
max_temp = max_temp.drop(max_temp[max_temp['Month'] == 'Annual'].index)
max_temp['Month'] = pd.to_datetime(max_temp['Month'], format='%b').dt.month

ValueError: time data '1' does not match format '%b' (match)

In [50]:
max_temp.rename(columns={'Station Number': 'Departing_Port'}, inplace=True)

max_temp['Departing_Port'] = max_temp['Departing_Port'].astype(str)
max_temp['Departing_Port'].replace('72160', 'Albury', inplace=True)

In [51]:
max_temp

    Departing_Port  Year  Month  MaxTemp
24          Albury  2017      1     33.7
25          Albury  2018      1     34.3
26          Albury  2019      1     37.4
27          Albury  2020      1     33.1
28          Albury  2021      1     31.5
..             ...   ...    ...      ...
379         Albury  2020     12     29.0
380         Albury  2021     12     29.0
381         Albury  2022     12     27.4
382         Albury  2023     12     29.9
383         Albury  2024     12      NaN

[96 rows x 4 columns]

# Min Temp

In [52]:
min_temp = min_temp.drop(columns=['Product code'])
min_temp = pd.melt(min_temp, id_vars=['Station Number', 'Year'],
                         var_name='Month', value_name='MinTemp')

In [53]:
min_temp = min_temp[min_temp['Year'] >= 2017]
min_temp = min_temp.drop(min_temp[min_temp['Month'] == 'Annual'].index)
min_temp['Month'] = pd.to_datetime(min_temp['Month'], format='%b').dt.month

min_temp.rename(columns={'Station Number': 'Departing_Port'}, inplace=True)

min_temp['Departing_Port'] = min_temp['Departing_Port'].astype(str)
min_temp['Departing_Port'].replace('72160', 'Albury', inplace=True)

min_temp

    Departing_Port  Year  Month  MinTemp
24          Albury  2017      1     16.9
25          Albury  2018      1     17.9
26          Albury  2019      1     20.7
27          Albury  2020      1     17.1
28          Albury  2021      1     16.1
..             ...   ...    ...      ...
379         Albury  2020     12     12.9
380         Albury  2021     12     14.0
381         Albury  2022     12     12.8
382         Albury  2023     12     15.9
383         Albury  2024     12      NaN

[96 rows x 4 columns]

In [54]:
min_max_temp = pd.merge(
    left=max_temp,
    right=min_temp,
    how='outer',
    left_on=['Month', 'Year', 'Departing_Port'],
    right_on=['Month', 'Year', 'Departing_Port'],
)

In [55]:
min_max_temp

   Departing_Port  Year  Month  MaxTemp  MinTemp
0          Albury  2017      1     33.7     16.9
1          Albury  2018      1     34.3     17.9
2          Albury  2019      1     37.4     20.7
3          Albury  2020      1     33.1     17.1
4          Albury  2021      1     31.5     16.1
..            ...   ...    ...      ...      ...
91         Albury  2020     12     29.0     12.9
92         Albury  2021     12     29.0     14.0
93         Albury  2022     12     27.4     12.8
94         Albury  2023     12     29.9     15.9
95         Albury  2024     12      NaN      NaN

[96 rows x 5 columns]

In [56]:
min_max_temp.to_csv("min_max_temp_adel_processed.csv", header=True, index=False)