# Process our data

In [1]:
X_columns = \
    ['Distance',
     'MinTemp',
     'MaxTemp',
     'Rainfall',
     'Evaporation',
     'Sunshine',
     'WindGustSpeed',
     'WindSpeed9am',
     'WindSpeed3pm',
     'Humidity9am',
     'Humidity3pm',
     'Pressure9am',
     'Pressure3pm',
     'Cloud9am',
     'Cloud3pm',
     'Temp9am',
     'Temp3pm',
     'Cancellations_%',
     'Adelaide',
     'Albury',
     'Alice Springs',
     'Armidale',
     'Ayers Rock',
     'Ballina',
     'Brisbane',
     'Broome',
     'Bundaberg',
     'Cairns',
     'Canberra',
     'Coffs Harbour',
     'Darwin',
     'Dubbo',
     'Emerald',
     'Geraldton',
     'Gladstone',
     'Gold Coast',
     'Hamilton Island',
     'Hobart',
     'Kalgoorlie',
     'Karratha',
     'Launceston',
     'Mackay',
     'Melbourne',
     'Mildura',
     'Moranbah',
     'Mount Isa',
     'Newcastle',
     'Newman',
     'Perth',
     'Port Hedland',
     'Port Lincoln',
     'Port Macquarie',
     'Proserpine',
     'Rockhampton',
     'Sunshine Coast',
     'Sydney',
     'Tamworth',
     'Townsville',
     'Wagga Wagga',
     'Adelaide',
     'Albury',
     'Alice Springs',
     'Armidale',
     'Ayers Rock',
     'Ballina',
     'Brisbane',
     'Broome',
     'Bundaberg',
     'Cairns',
     'Canberra',
     'Coffs Harbour',
     'Darwin',
     'Dubbo',
     'Emerald',
     'Geraldton',
     'Gladstone',
     'Gold Coast',
     'Hamilton Island',
     'Hobart',
     'Kalgoorlie',
     'Karratha',
     'Launceston',
     'Mackay',
     'Melbourne',
     'Mildura',
     'Moranbah',
     'Mount Isa',
     'Newcastle',
     'Newman',
     'Perth',
     'Port Hedland',
     'Port Lincoln',
     'Port Macquarie',
     'Proserpine',
     'Rockhampton',
     'Sunshine Coast',
     'Sydney',
     'Tamworth',
     'Townsville',
     'Wagga Wagga',
     'Jetstar',
     'Qantas',
     'QantasLink',
     'Regional Express',
     'Skywest',
     'Tigerair Australia',
     'Virgin Australia',
     'Virgin Australia - ATR/F100 Operations',
     'Virgin Australia Regional Airlines']

In [2]:
import math
import torch
import pandas as pd

In [3]:
raw_data = pd.read_csv("flights_data.csv")
raw_data

,Departing_Port,Arriving_Port,Month,Year,Average_Fare,Distance,MinTemp,MaxTemp,Rainfall,Evaporation,...,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,Airline,Departure_Delays_%,Arrival_Delays_%,Cancellations_%
0,Adelaide,Melbourne,1,2010,414.0,641.652927,17.33103,29.763540,2.198292,8.894267,...,1013.053858,1010.905502,4.167756,4.016930,22.526185,27.847663,Jetstar,0.255319,0.234043,0.000000
1,Adelaide,Melbourne,1,2010,414.0,641.652927,17.33103,29.763540,2.198292,8.894267,...,1013.053858,1010.905502,4.167756,4.016930,22.526185,27.847663,Qantas,0.087542,0.090909,0.003367
2,Adelaide,Melbourne,1,2010,414.0,641.652927,17.33103,29.763540,2.198292,8.894267,...,1013.053858,1010.905502,4.167756,4.016930,22.526185,27.847663,Tigerair Australia,0.083333,0.033333,0.050000
3,Adelaide,Melbourne,1,2010,414.0,641.652927,17.33103,29.763540,2.198292,8.894267,...,1013.053858,1010.905502,4.167756,4.016930,22.526185,27.847663,Virgin Australia,0.072874,0.068826,0.012146
4,Adelaide,Canberra,1,2010,414.0,970.229046,17.33103,29.763540,2.198292,8.894267,...,1013.053858,1010.905502,4.167756,4.016930,22.526185,27.847663,Qantas,0.111111,0.083333,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30111,Moranbah,Brisbane,6,2017,1277.0,779.683481,7.14584,18.217691,1.944638,2.741813,...,1025.984182,1023.486260,4.872945,5.115312,11.379967,16.965475,Virgin Australia,0.078431,0.058824,0.000000
30112,Armidale,Sydney,6,2017,326.0,382.268024,7.14584,18.217691,1.944638,2.741813,...,1025.984182,1023.486260,4.872945,5.115312,11.379967,16.965475,QantasLink,0.256198,0.297521,0.115702
30113,Armidale,Sydney,6,2017,326.0,382.268024,7.14584,18.217691,1.944638,2.741813,...,1025.984182,1023.486260,4.872945,5.115312,11.379967,16.965475,Regional Express,0.278481,0.329114,0.050633
30114,Tamworth,Sydney,6,2017,643.0,319.769513,7.14584,18.217691,1.944638,2.741813,...,1025.984182,1023.486260,4.872945,5.115312,11.379967,16.965475,QantasLink,0.180645,0.174194,0.051613
30115,Tamworth,Sydney,6,2017,643.0,319.769513,7.14584,18.217691,1.944638,2.741813,...,1025.984182,1023.486260,4.872945,5.115312,11.379967,16.965475,Virgin Australia,0.156863,0.156863,0.019608

## Convert categorical variables to one-hot vectors

In [4]:
raw_data["Average_Delay_%"] = (raw_data["Arrival_Delays_%"] + raw_data["Departure_Delays_%"]) * 0.5

In [5]:
categorical_variables = ["Departing_Port", "Arriving_Port", "Airline"]

In [6]:
# Convert categorical variables into integers
processed_data = raw_data.copy()

processed_data = processed_data.sort_values(["Year", "Month", "Departing_Port", "Arriving_Port", "Airline"])

In [7]:
# Convert each categorical feature to one-hot

for variable in categorical_variables:
    one_hot_airline_categories = pd.get_dummies(processed_data[variable])

    del processed_data[variable]

    processed_data = pd.concat([processed_data, one_hot_airline_categories], axis=1)

In [8]:
processed_data

,Month,Year,Average_Fare,Distance,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,...,Wagga Wagga,Jetstar,Qantas,QantasLink,Regional Express,Skywest,Tigerair Australia,Virgin Australia,Virgin Australia - ATR/F100 Operations,Virgin Australia Regional Airlines
11,1,2010,414.0,1316.720677,17.33103,29.763540,2.198292,8.894267,9.385116,43.838095,...,0,0,1,0,0,0,0,0,0,0
12,1,2010,414.0,1316.720677,17.33103,29.763540,2.198292,8.894267,9.385116,43.838095,...,0,0,0,0,0,0,1,0,0,0
16,1,2010,414.0,1619.982414,17.33103,29.763540,2.198292,8.894267,9.385116,43.838095,...,0,1,0,0,0,0,0,0,0,0
17,1,2010,414.0,1619.982414,17.33103,29.763540,2.198292,8.894267,9.385116,43.838095,...,0,0,1,0,0,0,0,0,0,0
18,1,2010,414.0,1619.982414,17.33103,29.763540,2.198292,8.894267,9.385116,43.838095,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30093,6,2017,20941.0,284.013192,7.14584,18.217691,1.944638,2.741813,6.264984,31.617153,...,0,0,0,0,1,0,0,0,0,0
30094,6,2017,21097.0,1691.132106,7.14584,18.217691,1.944638,2.741813,6.264984,31.617153,...,0,1,0,0,0,0,0,0,0,0
30095,6,2017,21097.0,1691.132106,7.14584,18.217691,1.944638,2.741813,6.264984,31.617153,...,0,0,0,0,0,0,0,1,0,0
30096,6,2017,26286.0,365.844014,7.14584,18.217691,1.944638,2.741813,6.264984,31.617153,...,0,0,0,1,0,0,0,0,0,0
30097,6,2017,26286.0,365.844014,7.14584,18.217691,1.944638,2.741813,6.264984,31.617153,...,0,0,0,0,1,0,0,0,0,0

## Normalise the data to a value range of 0-1 (for continuous variables)

In [9]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0, 1))

continuous_features = processed_data.select_dtypes("float").columns.values

processed_data[continuous_features] = scaler.fit_transform(processed_data[continuous_features])
processed_data

,Month,Year,Average_Fare,Distance,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,...,Wagga Wagga,Jetstar,Qantas,QantasLink,Regional Express,Skywest,Tigerair Australia,Virgin Australia,Virgin Australia - ATR/F100 Operations,Virgin Australia Regional Airlines
11,1,2010,0.010518,0.320498,0.928133,0.966634,0.364930,0.898459,0.931945,0.823711,...,0,0,1,0,0,0,0,0,0,0
12,1,2010,0.010518,0.320498,0.928133,0.966634,0.364930,0.898459,0.931945,0.823711,...,0,0,0,0,0,0,1,0,0,0
16,1,2010,0.010518,0.410449,0.928133,0.966634,0.364930,0.898459,0.931945,0.823711,...,0,1,0,0,0,0,0,0,0,0
17,1,2010,0.010518,0.410449,0.928133,0.966634,0.364930,0.898459,0.931945,0.823711,...,0,0,1,0,0,0,0,0,0,0
18,1,2010,0.010518,0.410449,0.928133,0.966634,0.364930,0.898459,0.931945,0.823711,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30093,6,2017,0.532011,0.014184,0.066673,0.138983,0.298577,0.070292,0.219417,0.000000,...,0,0,0,0,1,0,0,0,0,0
30094,6,2017,0.535974,0.431553,0.066673,0.138983,0.298577,0.070292,0.219417,0.000000,...,0,1,0,0,0,0,0,0,0,0
30095,6,2017,0.535974,0.431553,0.066673,0.138983,0.298577,0.070292,0.219417,0.000000,...,0,0,0,0,0,0,0,1,0,0
30096,6,2017,0.667801,0.038456,0.066673,0.138983,0.298577,0.070292,0.219417,0.000000,...,0,0,0,1,0,0,0,0,0,0
30097,6,2017,0.667801,0.038456,0.066673,0.138983,0.298577,0.070292,0.219417,0.000000,...,0,0,0,0,1,0,0,0,0,0

# Convert output features into categorical format

In [10]:
output_features = ["Average_Fare", "Average_Delay_%"]

In [25]:
def continuous_feature_to_categorical(feature, num_categories):
    feature_categorical_values = round(feature * (num_categories - 1)) + 1
    feature_category = pd.Series(feature_categorical_values, dtype='category')
    return feature_category

In [28]:
for feature in output_features:
    feature_values = processed_data[feature]

    feature_category = continuous_feature_to_categorical(feature_values, 5)

    print(feature_category)

    categorical_feature_name = f"{feature}_Categorical"

    processed_data[categorical_feature_name] = feature_category

11       1.0
12       1.0
16       1.0
17       1.0
18       1.0
        ...
30093    3.0
30094    3.0
30095    3.0
30096    4.0
30097    4.0
Name: Average_Fare, Length: 30116, dtype: category
Categories (5, float64): [1.0, 2.0, 3.0, 4.0, 5.0]
11       1.0
12       2.0
16       2.0
17       1.0
18       1.0
        ...
30093    1.0
30094    3.0
30095    2.0
30096    2.0
30097    2.0
Name: Average_Delay_%, Length: 30116, dtype: category
Categories (5, float64): [1.0, 2.0, 3.0, 4.0, 5.0]

In [30]:
processed_data

,Month,Year,Average_Fare,Distance,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,...,Qantas,QantasLink,Regional Express,Skywest,Tigerair Australia,Virgin Australia,Virgin Australia - ATR/F100 Operations,Virgin Australia Regional Airlines,Average_Fare_Categorical,Average_Delay_%_Categorical
11,1,2010,0.010518,0.320498,0.928133,0.966634,0.364930,0.898459,0.931945,0.823711,...,1,0,0,0,0,0,0,0,1.0,1.0
12,1,2010,0.010518,0.320498,0.928133,0.966634,0.364930,0.898459,0.931945,0.823711,...,0,0,0,0,1,0,0,0,1.0,2.0
16,1,2010,0.010518,0.410449,0.928133,0.966634,0.364930,0.898459,0.931945,0.823711,...,0,0,0,0,0,0,0,0,1.0,2.0
17,1,2010,0.010518,0.410449,0.928133,0.966634,0.364930,0.898459,0.931945,0.823711,...,1,0,0,0,0,0,0,0,1.0,1.0
18,1,2010,0.010518,0.410449,0.928133,0.966634,0.364930,0.898459,0.931945,0.823711,...,0,0,0,0,0,1,0,0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30093,6,2017,0.532011,0.014184,0.066673,0.138983,0.298577,0.070292,0.219417,0.000000,...,0,0,1,0,0,0,0,0,3.0,1.0
30094,6,2017,0.535974,0.431553,0.066673,0.138983,0.298577,0.070292,0.219417,0.000000,...,0,0,0,0,0,0,0,0,3.0,3.0
30095,6,2017,0.535974,0.431553,0.066673,0.138983,0.298577,0.070292,0.219417,0.000000,...,0,0,0,0,0,1,0,0,3.0,2.0
30096,6,2017,0.667801,0.038456,0.066673,0.138983,0.298577,0.070292,0.219417,0.000000,...,0,1,0,0,0,0,0,0,4.0,2.0
30097,6,2017,0.667801,0.038456,0.066673,0.138983,0.298577,0.070292,0.219417,0.000000,...,0,0,1,0,0,0,0,0,4.0,2.0

# Training the Model

In [31]:
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

## Model training pipeline

In [32]:
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

def print_model_evaluation(y_pred, y_real, r2_scores):
    mse = mean_squared_error(y_real, y_pred)
    mae = mean_absolute_error(y_real, y_pred)

    print("Cross-validation complete.")
    print("Cross-validated R² scores:", r2_scores)
    print("Mean R²:", r2_scores.mean())
    print(f"Mean squared error: {mse:.2f}")
    print(f"Mean absolute error: {mae:.2f}")

In [35]:
import pickle

def train_models(model_type : object, y_columns : list, model_paths : list):
    # For every Y column - we will make a separate regressor model and train it.
    for id, y_column in enumerate(y_columns):
        print(f"=================================\n"
             f"Training model on output: {y_column}\n")

        X = processed_data[X_columns]
        y = processed_data[y_column].to_numpy().flatten()
        x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)
        model = model_type(random_state=1)

        # Train the model
        print("Training Model...")
        model.fit(x_train, y_train)

        y_pred = model.predict(x_test)

        # Cross-validate the model
        print("Cross-validating model (please wait)...")
        r2_scores = cross_val_score(model, x_train, y_train, cv=5, scoring='r2')

        # Evaluate our model
        print("Model evaluation")
        print_model_evaluation(y_pred, y_test, r2_scores)

        # Save our model
        model_path = model_paths[id]
        print(f"Saving model to file: {model_path}")
        pickle.dump(model, open(model_path, 'wb'))

## Run model train script for classification and regression

In [36]:
from sklearn.ensemble import RandomForestRegressor

# Continuous numerical data
y_columns_regression = ["Average_Fare", "Average_Delay_%"]
model_paths_regression = ["trained_models/random_forest_fares.pkl", "trained_models/random_forest_delays.pkl"]

train_models(RandomForestRegressor, y_columns_regression, model_paths_regression)

=================================
Training model on output: Average_Fare

Training Model...
Cross-validating model (please wait)...
Model evaluation
Cross-validation complete.
Cross-validated R² scores: [0.7799065  0.91502584 0.96166931 0.91081453 0.77856623]
Mean R²: 0.869196480049812
Mean squared error: 0.00
Mean absolute error: 0.00
Saving model to file: trained_models/random_forest_fares.pkl
=================================
Training model on output: Average_Delay_%

Training Model...
Cross-validating model (please wait)...
Model evaluation
Cross-validation complete.
Cross-validated R² scores: [0.07079903 0.03764709 0.21910456 0.08572676 0.21851677]
Mean R²: 0.1263588401952869
Mean squared error: 0.01
Mean absolute error: 0.05
Saving model to file: trained_models/random_forest_delays.pkl

In [37]:
from sklearn.svm import SVC

# Support Vector Machine Classifier - SVC

# Discrete output data - we converted these to categorise
y_columns_classification = ["Average_Fare_Categorical", "Average_Delay_%_Categorical"]
model_paths_classification = ["trained_models/svc_fares.pkl", "trained_models/svc_delays.pkl"]

train_models(SVC, y_columns_classification, model_paths_classification)

=================================
Training model on output: Average_Fare_Categorical

Training Model...
Cross-validating model (please wait)...
Model evaluation
Cross-validation complete.
Cross-validated R² scores: [0.72766055 0.66547562 0.78176266 0.79449549 0.84061888]
Mean R²: 0.7620026421893276
Mean squared error: 0.01
Mean absolute error: 0.01
Saving model to file: trained_models/svc_fares.pkl
=================================
Training model on output: Average_Delay_%_Categorical

Training Model...
Cross-validating model (please wait)...
Model evaluation
Cross-validation complete.
Cross-validated R² scores: [-0.14103162 -0.22469147 -0.25485141 -0.05144619 -0.12944579]
Mean R²: -0.1602932948109513
Mean squared error: 0.33
Mean absolute error: 0.31
Saving model to file: trained_models/svc_delays.pkl

# Load the model

In [ ]:
# from sklearn.tree import DecisionTreeRegressor
#
# model_save_path = "trained_models/random_forest_fares.pkl"
#
# fare_regressor = pickle.load(open(model_save_path, 'rb'))
#
# # This will load our model without us having to train it again.

# Query the model

In [ ]:
from sklearn.preprocessing import MinMaxScaler

def preprocess_data(data):
    raw_data = data.copy(True)
    raw_data["Average_Delay_%"] = (raw_data["Arrival_Delays_%"] + raw_data["Departure_Delays_%"]) * 0.5
    raw_data = raw_data.sort_values(["Year", "Month", "Departing_Port", "Arriving_Port", "Airline"])

    categorical_variables = ["Departing_Port", "Arriving_Port", "Airline"]

    for variable in categorical_variables:
        categories = pd.get_dummies(raw_data[variable])

        raw_data = pd.concat([raw_data, categories], axis=1)

    for variable in categorical_variables:
        del raw_data[variable]

    scaler = MinMaxScaler(feature_range=(0, 1))

    continuous_features = raw_data.select_dtypes("float").columns.values

    raw_data[continuous_features] = scaler.fit_transform(raw_data[continuous_features])

    for column in raw_data.columns.values:
     if column not in X_columns:
      del raw_data[column]

    return raw_data

In [ ]:
# preprocess_data(data_subset)